
<script>
function load_data($, params) {
    console.log('params', params);
    $.get("/dashboard", function(data) {
        console.log('data', data);
    }, 'json');
}

(function($) {
    $(function() {
        if(jQuery.isFunction(Chart)) {
        // Set Global Chart.js configuration
        Chart.defaults.color = '#818d96';
        Chart.defaults.scale.grid.color = "rgba(0,0,0,.04)";
        Chart.defaults.scale.grid.zeroLineColor = "rgba(0,0,0,.1)";
        Chart.defaults.scale.beginAtZero = true;
        Chart.defaults.elements.line.borderWidth = 2;
        Chart.defaults.elements.point.radius = 5;
        Chart.defaults.elements.point.hoverRadius = 7;
        Chart.defaults.plugins.tooltip.radius = 3;
        Chart.defaults.plugins.legend.labels.boxWidth = 12;

        // DataSet
        let labels = ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'];
        let datas = [12, 19, 3, 5, 2, 3];

{% if rows['objects'] is defined %}
    {% for row in rows['objects'] %}
        labels.push("{{ row[0] }}");
        datas.push({{ row[1] }});
    {% endfor %}
{% endif %}

        // myChart-01
        let ctx_01 = document.getElementById('myChart-01');

        new Chart(ctx_01, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: '# of Votes',
                    data: datas,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            },
        });

        // myChart-02
        const ctx_02 = document.getElementById('myChart-02');
        new Chart(ctx_02, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: 'My First Dataset',
                    data: datas,
                    backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                    ],
                    hoverOffset: 4
                }]
            },
        });

        // myChart-03 https://www.chartjs.org/docs/latest/samples/bar/border-radius.html
        const ctx_03 = document.getElementById('myChart-03');
        new Chart(ctx_03, {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: 'My First Dataset',
                    data: datas,
                    backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                    ],
                    hoverOffset: 4
                }]
            },
        });
        }


        setInterval(() => {
            if($.isFunction(load_data)) {
                load_data($, {});
            }
        }, 2400);
    });
})(jQuery);
</script>
