<div class="row">
    <!-- Row #1 -->
    <div class="col-6 col-xl-3">
      <a class="block block-rounded block-link-shadow text-end" href="javascript:void(0)">
        <div class="block-content block-content-full d-sm-flex justify-content-between align-items-center">
          <div class="d-none d-sm-block">
            <i class="fa fa-shopping-bag fa-2x opacity-25"></i>
          </div>
          <div>
            <div class="fs-3 fw-semibold">{{ (stats['commande'][0] | default('')) if stats is defined else '' }}</div>
            <div class="fs-sm fw-semibold text-uppercase text-muted">Commandes</div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-6 col-xl-3">
      <a class="block block-rounded block-link-shadow text-end" href="javascript:void(0)">
        <div class="block-content block-content-full d-sm-flex justify-content-between align-items-center">
          <div class="d-none d-sm-block">
            <i class="fa fa-wallet fa-2x opacity-25"></i>
          </div>
          <div>
            <div class="fs-3 fw-semibold">{{ (stats['billet'][0] | default('')) if stats is defined else '' }}</div>
            <div class="fs-sm fw-semibold text-uppercase text-muted">Billets</div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-6 col-xl-3">
      <a class="block block-rounded block-link-shadow text-end" href="javascript:void(0)">
        <div class="block-content block-content-full d-sm-flex justify-content-between align-items-center">
          <div class="d-none d-sm-block">
            <i class="fa fa-envelope-open fa-2x opacity-25"></i>
          </div>
          <div>
            <div class="fs-3 fw-semibold">{{ (stats['representation'][0] | default('')) if stats is defined else '' }}</div>
            <div class="fs-sm fw-semibold text-uppercase text-muted">Representations</div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-6 col-xl-3">
      <a class="block block-rounded block-link-shadow text-end" href="javascript:void(0)">
        <div class="block-content block-content-full d-sm-flex justify-content-between align-items-center">
          <div class="d-none d-sm-block">
            <i class="fa fa-users fa-2x opacity-25"></i>
          </div>
          <div>
            <div class="fs-3 fw-semibold">{{ (stats['user'][0] | default('')) if stats is defined else '' }}</div>
            <div class="fs-sm fw-semibold text-uppercase text-muted">Users</div>
          </div>
        </div>
      </a>
    </div>
    <!-- END Row #1 -->
  </div>
