            <!-- Header Navigation -->
            <!-- Desktop Navigation, mobile navigation can be found in #sidebar -->
            <ul class="nav-main nav-main-horizontal nav-main-hover d-none d-lg-block">
                <li class="nav-main-item">
                  <a class="nav-main-link active" href="/home">
                    <i class="nav-main-link-icon fa fa-rocket"></i>
                    <span class="nav-main-link-name">Dashboard</span>
                  </a>
                </li>
                <li class="nav-main-item">
                  <a class="nav-main-link" href="/user/index">
                    <i class="nav-main-link-icon fa fa-cog"></i>
                    <span class="nav-main-link-name">Users</span>
                  </a>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link" href="/salle/index">
                      <i class="nav-main-link-icon fa fa-layer-group"></i>
                      <span class="nav-main-link-name">Salles</span>
                    </a>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link" href="/representation/index">
                      <i class="nav-main-link-icon fa fa-layer-group"></i>
                      <span class="nav-main-link-name">Representations</span>
                    </a>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link" href="/commande/index">
                      <i class="nav-main-link-icon fa fa-layer-group"></i>
                      <span class="nav-main-link-name">Commandes</span>
                    </a>
                </li>
                <!--
                <li class="nav-main-item">
                  <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" href="/commande/index">
                    <i class="nav-main-link-icon fa fa-layer-group"></i>
                    <span class="nav-main-link-name">Commandes</span>
                  </a>
                  <ul class="nav-main-submenu">
                    <li class="nav-main-item">
                      <a class="nav-main-link" href="">
                        <span class="nav-main-link-name">Backend</span>
                      </a>
                    </li>
                    <li class="nav-main-item">
                      <a class="nav-main-link" href="">
                        <span class="nav-main-link-name">Frontend</span>
                      </a>
                    </li>
                    <li class="nav-main-item">
                      <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" href="#">
                        <span class="nav-main-link-name">More</span>
                      </a>
                      <ul class="nav-main-submenu">
                        <li class="nav-main-item">
                          <a class="nav-main-link" href="">
                            <span class="nav-main-link-name">Dashboard</span>
                          </a>
                        </li>
                        <li class="nav-main-item">
                          <a class="nav-main-link" href="">
                            <span class="nav-main-link-name">Resources</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  -->
                </li>
              </ul>
              <!-- END Header Navigation -->
